:host {
  .long-term-goals-header-container {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 27.5px;
    display: inline-flex;
    color: #4B5853;
    padding: 32px 36px;
    background-color: white;
    .head {
      height:29px;
      width:290px;
    }
    .pencil {
      height: 29px;
      width: 29px;
    }
  }
}
